@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');


:root{
  --base-color: #121010;  
  --main-color: rgba(186, 218, 85, 1);
  --secondary-color: rgba(226, 162, 79, 1);
  --primary-background: rgba(13, 17, 23, 1);
  --secondary-background: rgba(19, 23, 33, 1);
  --third-background: rgba(1, 17, 26, 1);
  --fouth-background:  rgba(19, 36, 44, 1);

  --won: rgba(0, 255, 0, 0.8);
  --lost: rgba(255, 0, 0, 0.8);
  --winner: rgba(11, 84, 11, 1);
  --loser: rgba(125, 21, 21, 1);
  --tie-neutral: rgba(30, 41, 59,1);
  --winning: rgba(127, 255, 65, 0.5);
  --losing: rgba(255, 30, 30, 0.5);
  --round-play: rgba(127, 255, 65, 0.5);  
  --play-border: rgb(161, 136, 81);

  --black: rgba(0,0,0,1);
  --green: rgba(0, 255, 0, 1);
  --blue: rgba(0,0,255,1);
  --brown: rgba(165, 42, 42, 1);
  --orange-red: rgba(255, 69, 0, 1);
  --burlywood: rgba(222, 184, 135, 1);
  --wheat: rgba(245, 222, 179, 1);
  --button-action: rgba(233, 222, 39, 1);

  --t1: rgba(18, 16, 16, 1);
  --t2: rgba(16, 14, 14, 0.75);
  --t3: rgba(255, 0, 0, 0.5);
  --t4: rgba(0, 255, 0, 0.3);
  --t5: rgba(0, 0, 255, 0.3);
  --t6: rgba(18, 16, 16, 0.9);
  --t7: rgba(13, 17, 23, 1);
  --t8: rgba(247, 146, 29, 1);
  --t9: rgba(11, 84, 11, 1);
  --t10: color-mix(in srgb, var(--t8), #000 25%);
  --t11: color-mix(in srgb, #34c9eb 20%, white 25%);

  --transparent-red:  rgb( 255 0 0 / 0.5);
  --transparent-blue: rgb(0 0 255 /0.5);
  --transparent-red-hex: #FF000088;
}

/* simple reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
	font: inherit;
	vertical-align: baseline;
}

html {
  font-size: 16px;
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  border: 1px solid var(--wheat);
  min-height: 100dvh;
  color: var(--main-color);
  background: var(--primary-background);
}

kbd{
  font-family: 'Fira Code';
  background-color: var(--fouth-background);
  padding: 6px 14px;
  border-radius: 4px;
  color: var(--brown);
  font-weight: 600;
}

h1{
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.h1{
  margin-bottom: 20px;
  line-height: 1.5;
}

h2{
  font-size: 30px;
}

.log-heading{
  margin-bottom: 15px;
}

h3{
  font-size: 26px;
}

.h3{
  margin: 60px 0 10px;
}

p {
  line-height: 2.5;
}

ol{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
li{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3px;
}

a:link, a:hover, a:visited, a:active{
  text-decoration: none;
  font-weight: 600;
  color: var(--blue);
}

a:hover{
  color: var(--orange-red);
}

button{
  padding: 6px 20px;
  background-color: #132413;
  border-radius: 5px;
  color: green;
  font-weight: 900;
  font-size: 20px;
  font-family: 'Fira Code';
  display: block;
  cursor: pointer;
}

#intro-container{
  display:flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-direction: column;
  transition: all 1s ease-in-out;
  height: calc(100dvh - 4px);
}

#greeting{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 50px;
  flex-direction: column;
}

#question{
  display: flex;
  justify-content: start;
  align-items: center;
  flex: 1 0 75px;
  flex-direction: column;
}

#rps{
  display: flex;
  justify-content: center ;
  align-items:stretch;
  flex-direction: row;
  flex-basis: 150px;
}

#pieces{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction:row;
  flex-basis: 300px;
  font-family: "Segoe UI Symbol";
}

#start{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1 0 200px;
}

.rock, .scissors{
  align-self: end;
}

.rock, .paper, .scissors{
  scale: 4;
  flex-basis:20px;
}

.rock{
  align-self: end;
}

.paper{
  transform: rotate(0.68turn);
  align-self: start;
}

#paper{
  transform: rotate(0.68turn);
}
.scissors{
  transform: rotate(0.25turn);
  align-self: end;
}

#scissors{
  transform: rotate(0.25turn);
}

#rock, #paper, #scissors{
  cursor: pointer;
  scale: 4;
  display: flex;
  flex-basis: 15px;
  font-family: "Segoe UI Symbol";
}

#rock-container, #paper-container, #scissors-container{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  flex-basis:150px;
}

#rock-key, #paper-key, #scissors-key{
  margin-top:50px;
}

.pressed{
  transition: all 50ms ease-in-out;
  transform: scale(1.1);
  border: 2px solid wheat;
  box-shadow: 0 0 1rem #ffc600;
}

#game-container{
  display:flex;
  justify-content: start;
  align-items: stretch;
  flex-direction: column;
  min-height: calc(100dvh - 2px);
  flex:auto;
  transition: all 1s ease-in-out;
  gap:10px;
}

.header{
  min-height: 100px;
}

#announcements{
  display: flex;
  flex-basis: 130px;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.player1, .player2{
  flex-basis: 30px;
  transform: scale(3);
  font-family: "Segoe UI Symbol";
}

.result{
  flex-basis: 210px;
}

.player1, .player2, .result{
  line-height: 2;
  text-transform: capitalize;
}

.round-result{
  font-size: 26px;
  font-weight: 900;
}

.round-play{
  font-size: 18px;
  font-weight: 300;
  color: var(--round-play);
}

#board{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 0 2 640px;
  background-color: var(--secondary-background);
  border: 1px dotted var(--wheat);
  border-radius: 5px;
  color: var(--secondary-color);
  gap: 30px;
}

#score-board{
  display:flex;
  justify-content: center;
  align-items: start;
  color: var(--secondary-color);
  border-radius: 5px;
  min-height: 30vh;
  padding-bottom: 50px;
  margin-bottom: 10px;
  row-gap: 60px;
}

#player1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 150px;
  padding-top: 62px;
}

#middle-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 580px;
  justify-content: center;
  align-items: stretch;
}

#history{
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  background-color: var(--third-background);
  border: 1px dotted var(--burlywood);
  border-radius: 10px;
  transition: all 1s ease-in-out;
}

.show{
  display: flex;
}

.hide{
  display: none;
}

.won{
  color: var(--won);
}

.lost{
  color: var(--lost);
}

#player2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 150px;
  padding-top: 62px;
}

.contestants{
  font-size: 24px;
  font-weight: 900;
  width: 120px;
}

.score{
  background-color: var(--fouth-background);
  border: 1px solid var(--burlywood);
  border-radius: 6px;
  padding: 10px;
  width: 80px;
  font-size: 30px;
}

.log{
  padding: 5px 0;
}

.over{
  font-size: 36px;
  padding: 10px 20px;
}

.winner{
  background-color: var(--winner);
}

.loser{
  background-color: var(--loser);
}

.tie, .neutral{
  background-color: var(--tie-neutral);
}

.winner, .loser, .tie {
  font-family: "Segoe UI Symbol";
}

.winning{
  background-color: var(--winning);
}

.losing{
  background-color: var(--losing);
}

.winner, .loser, .tie{
  padding: 6px;
  margin: 0 4px 1px;
  border-radius: 50%;
  border: 1px var(--play-border);
  border-style:groove ;
}

#controls{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  flex: auto;
}

#over-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  flex-basis: 200px;
  min-height: 98dvh;
  transform: scale(1);
  transition: all 1s ease-in-out;
}

#game-over{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  flex-basis: 48vh;
  min-width: 47vw;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 17, 26, 1);;
  border: 1px dotted burlywood;
  border-radius: 10px;
  transform: scale(2);
  transform-origin: center top;
  opacity: .75;
  transition: all 1.25s ease-in-out;
  margin-top: -225px;
}

#annoucements-over{
  display: flex;
  flex-basis: 130px;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

#board-over{
  background-color: #131721;
  border:1px dotted wheat;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  color: #e2a24f;
  justify-content: center;
  align-items: center;
  flex: 0 1 500px;
  padding: 20px;
  margin: 0 10px;
}

#score-board-over{
  display: flex;
  border-radius: 5px;
  color: #e2a24f;
  justify-content: center;
  align-items: start;
  margin-top: 8px;
}

#history-over{
  border: none;
  background-color: none;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: stretch;
  width: 600px;
  flex-basis: content;
}

#player1-over {
  flex-basis:100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#player2-over{
  flex-basis: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button{
  padding: 4px 16px;
  background-color: var(--fouth-background);
  border-radius: 5px;
  margin: 0 10px;
  color: var(--button-action);
  font-size: 10px;
  cursor: pointer;
}

.play-again{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}